<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}All gone!{{else}}Ready to Eat!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
